#Logout{
    margin: 20px;
    float: right;
    height: 40px;
    width: 80px;
}
#body{
    background-color: wheat;
}
#Input_Box{
    margin-left: 20px;
    margin-right: 20px;
}
hr{
    width: 230px;
}
a{
    text-decoration: none;
}
.input_div_room_page
{
	width: 80%;
}
.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page #Input_Box
{
    width: 80%;
    margin-top: 10px;
}
.input_div_message_page button
{
	margin: 15px, 15px;
	width: 50%; 
}
#output{
    padding: 10px; 
    width: 50%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    text-align: center;
    margin-left: 350px;
}
.message_h4
{
	padding-left:5px;
	color:grey;
}